<!--
  Generated template for the VentasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color='primary'>
    <ion-title>Informe de Resumen de Ventas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>



    


<ion-grid>

  <ion-row style='text-align:center;'>

      <ion-item>
  <ion-label>Fecha</ion-label>
  <ion-datetime displayFormat="YYYY / MM / DD" pickerFormat="YYYY MM DD" [(ngModel)]="fecha"></ion-datetime>
</ion-item>
      
    </ion-row>

  <ion-row>
  
    <ion-col *ngFor="let s of sucursal">
      
          <ion-row><ion-col></ion-col><ion-col><button ion-button round (click)='irasucursal(s)'>{{s.sucursal}}</button></ion-col></ion-row>

          <ion-row *ngFor="let td of s._tipodelivery">

          <ion-col>{{td.tipodelivery}}</ion-col><ion-col>{{td.monto}}</ion-col>

          </ion-row>

           <ion-row *ngFor="let tp of s._tipopago">

          <ion-col>{{tp.tipopago}}</ion-col><ion-col>{{tp.monto}}</ion-col>

          </ion-row>

          <ion-row *ngFor="let t of s._tipopedido">

          <ion-col>{{t.tipopedido}}</ion-col><ion-col>{{t.monto}}</ion-col>

          </ion-row>


    </ion-col>

  </ion-row>




</ion-grid>

</ion-content>
