page-home {

	
font-family: 'Lato', sans-serif;

.fondo{

	//background: #ff5709 !important;
}


.formlist{

	background: #75675d;
    padding: 2em;
    text-align: center;
    color: #fff;
    border-radius: 3% !important;
}

.grid{


padding-top: 1px !important;
    padding-bottom: 1px !important;
}

}
