<!--
  Generated template for the ProductosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color='dark'>
    <ion-title>Productos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

		<ion-row>
		<ion-col class='filtro'>
		<ion-item>
		<ion-label>Año</ion-label>
		<ion-datetime  cancelText='Cerrar' doneText='Aplicar'  displayFormat="YYYY" pickerFormat="YYYY" [(ngModel)]="anio" ></ion-datetime>
		</ion-item>
		</ion-col>



		<ion-col class='filtro'>
		<ion-item>
		<ion-label>Mes</ion-label>
		<ion-select [(ngModel)]="mesx" (cancel)='clearmes()'>
		<ion-option *ngFor="let d of meses" [value]="d">{{d.nombre}}</ion-option>
		</ion-select>
		</ion-item>
		</ion-col>
		</ion-row>



		<ion-item >
			<ion-label>Categoria</ion-label>
			<ion-select  [(ngModel)]="itemscategoria" >
	
			<ion-option *ngFor="let item of categorias" value="{{item.categoria}}"  >{{item.categoria}}</ion-option>
			</ion-select>
			</ion-item>


		
			<!--<ion-item >
			<ion-label>Categoria</ion-label>
			<ion-select multiple="true" [(ngModel)]="itemsproductos" >
		
			<ion-option *ngFor="let item of listaitems" selected={{item.selecciona}} >{{item.producto}}</ion-option>
			</ion-select>
			</ion-item-->
		
     <div style="height: 20px;"></div>
		<button ion-button round full (click)='filtrar(anio,mesx,selectsucursal)' color='dark'>Filtrar</button>

		

		<h4>Ranking de Productos</h4>


		

          <div style="height: 20px;"></div>

<div class='grid-container_1'>

<div class='grid-item'></div>
<div class='grid-item' style='text-align: center;'>Sucursal 1</div>
<div class='grid-item' style='text-align: center;'>Sucursal 2</div>


</div>



<div class='grid-container'>

<div class='grid-item' style='text-align: center;'>Prod.</div>
<div class='grid-item' style='text-align: right;'>Cant.</div>
<div class='grid-item' style='text-align: right;'>S/. Vent</div>
<div class='grid-item' style='text-align: right;'>Cant.</div>
<div class='grid-item' style='text-align: right;'>S/. Vent</div>

</div>

		

		<div class="grid-container" *ngFor="let item of productos">
  <div class="grid-item" *ngIf="item.producto"> {{item.producto}} </div>
   <div class="grid-item" style='text-align: right;' *ngIf="item.sucursal_1[0]"> {{item.sucursal_1[0].cantidad}} </div>
   <div class="grid-item" style='text-align: right;' *ngIf="item.sucursal_1[0]"> {{item.sucursal_1[0].monto.toLocaleString(undefined, {minimumFractionDigits: 2})}} </div>

   <div class="grid-item" style='text-align: right;' *ngIf="item.sucursal_2[0]"> {{item.sucursal_2[0].cantidad}} </div>
   <div class="grid-item" style='text-align: right;' *ngIf="item.sucursal_2[0]"> {{item.sucursal_2[0].monto.toLocaleString(undefined, {minimumFractionDigits: 2})}} </div>
 
</div>

		<h4 *ngIf='productos?.length == 0' style='color:#5f4f47;'>No existe productos para el filtro</h4>

</ion-content>
