page-sla {
font-family: 'Lato', sans-serif;


.sla{
	font-size: 20px;
		background: #ff8248;
		color: #fff;
		border-radius: 27px;
		text-align: center;
		color: #fff;padding-top: 8px;
		margin-left: 12px;
}
}
